<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http pattern="/lookfor/**" security="none"></http>
	<http pattern="/common/**" security="none"></http>
	<http pattern="/errors/**" security="none"></http>
	<http pattern="/acegi/login[|.action|.action]*" security="none" path-type="regex"></http><!-- Login Page URL -->

	<http auto-config="true">
		<!--
		<intercept-url pattern="/common/**" filters="none"/>
		<intercept-url pattern="/css/**" filters="none"/>
		<intercept-url pattern="/js/**" filters="none"/>
		<intercept-url pattern="/errors/**" filters="none"/>
		<intercept-url pattern="/image/**" filters="none"/>
		<intercept-url pattern="/images/**" filters="none"/>
		<intercept-url pattern="/upload/temp/**" filters="none"/>
		<intercept-url pattern="/admin/masonry!gallery.action" filters="none"/>
		<intercept-url pattern="/admin/secuser!front2manage.action*" filters="none"/>
		<intercept-url pattern="/admin/upload!any*.action*" filters="none"/>
		<intercept-url pattern="/acegi/login*" filters="none"/>
		-->
		<!-- <intercept-url pattern="/**" filters="none" access="IS_AUTHENTICATED_ANONYMOUSLY"/>只能放在最后 -->
		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor" />
<!-- 		<custom-filter before="FORM_LOGIN_FILTER" ref="authenticationProcessingFilter" /> -->
<!-- 		<custom-filter position="REMEMBER_ME_FILTER" ref="rememberMeAuthenticationFilter" /> -->
		<form-login login-page="/acegi/login" authentication-success-handler-ref="authenticationSuccessHandlerImpl"/>
		<logout logout-success-url="/acegi/login"/>
		<access-denied-handler error-page="/errors/accessDenied.jsp"/>
		<session-management session-authentication-error-url="/acegi/login" session-fixation-protection="migrateSession">
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</session-management>
	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="customUserDetailsService">
			<!-- deprecated <password-encoder hash="sha-256">
				<salt-source user-property="username" />
			</password-encoder> -->
			<password-encoder ref="passwordEncoder"></password-encoder>
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="customUserDetailsService" class="com.c306.core.springsecurity.users.service.SecUserService">
	</beans:bean>
	
	<beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:constructor-arg>
			<beans:list>
				<beans:bean class="org.springframework.security.access.vote.RoleVoter"></beans:bean>
				<beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter"></beans:bean>
			</beans:list>
		</beans:constructor-arg>
	</beans:bean>

    <beans:bean id="filterSecurityInterceptor"
    	class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
    	<beans:property name="authenticationManager" ref="authenticationManager"/>
	  	<beans:property name="accessDecisionManager" ref="accessDecisionManager"/>
		<beans:property name="securityMetadataSource" ref="securityMetadataSource"/>
    </beans:bean>

    <beans:bean id="securityMetadataSource"
        class="com.c306.core.springsecurity.utils.JdbcFilterInvocationDefinitionSourceFactoryBean">
        <beans:property name="dataSource" ref="dataSource"/>
        <beans:property name="resourceQuery" value="
            select re.res_string, r.name from sec_role r
              join sec_resc_role rr
                on r.id=rr.role_id
              join sec_resc re
                on re.id=rr.resc_id
          order by re.priority
        "/>
    </beans:bean>
	
	<beans:bean id="authenticationSuccessHandlerImpl" class="com.c306.core.springsecurity.utils.AuthenticationSuccessHandlerImpl">
<!--		<beans:property name="defaultTargetUrl" value="/admin/index_simple"/>-->
<!--		<beans:property name="defaultTargetUrl" value="/admin/secuser!userinfo.action"/>-->
		<beans:property name="defaultTargetUrl" value="/admin/"/>
	</beans:bean>
	
	<beans:bean id="authenticationFailureHandlerImpl" class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/acegi/login"/>
	</beans:bean>



    <!-- =================================================================== -->
    <!-- Security class from Spring Security - used to configure Password    -->
    <!-- Encryption in UserManagerImpl. Can override in security.xml.        -->
    <!-- =================================================================== -->
    <!-- deprecated It is recommended to use package: crypto 
    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" /> -->
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder" />
    <beans:bean id="BCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    
    <!-- 6.6 Localization -->
	<!-- <beans:bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"> -->
	<!-- <beans:property name="basename" value="org/springframework/security/messages"/> -->
	<!-- </beans:bean> -->
    <beans:bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	  <beans:property name="basename" value="classpath:acegi/messages"/>
	</beans:bean>


</beans:beans>
