@charset "utf-8";


/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* normal size */
/*96*n+15*(n-1)*/
.textcontent .col1 { width: 96px; }
.textcontent .col2 { width: 207px; }
.textcontent .col3 { width: 318px; }
.textcontent .col4 { width: 429px; }
.textcontent .col5 { width: 540px; }
.textcontent .col6 { width: 651px; }
.textcontent .col7 { width: 762px; }
.textcontent .col8 { width: 873px; }

/*92*n+14*(n-1)*/
.textcontent .row1 { height: 92px; }
.textcontent .row2 { height: 198px; }
.textcontent .row3 { height: 304px; }
.textcontent .row4 { height: 410px; }
.textcontent .row5 { height: 516px; }
.textcontent .row6 { height: 622px; }
.textcontent .row7 { height: 728px; }
.textcontent .row8 { height: 834px; }

.textcontent .item{
	cursor:move;
	float:left;
	/*
	margin-left:23px;
	margin-right:7px;
	margin-top:21px;
	margin-bottom:7px;
	*/
	background-color: rgba(160, 152, 152);
	filter:alpha(opacity=30); /*IE滤镜*/
	-moz-opacity:0.3; /*Firefox私有*/
	opacity:0.3;/*其他*/
}

#gridcontainer .transparency30, #gridcontainer .mouseover{
	filter:alpha(opacity=30); /*IE滤镜*/
	-moz-opacity:0.3; /*Firefox私有*/
	opacity:0.3;/*其他*/
}

#gridcontainer .transparencyzero, #gridcontainer .mouseover{
	filter:alpha(opacity=100); /*IE滤镜*/
	-moz-opacity:1; /*Firefox私有*/
	opacity:1;/*其他*/
}

.lazyItem {
	display: block;
	z-index: 3000;
	position:absolute;
	/*left:-35px; border: 1px solid #faa; */
	bottom: -25px;
	width: 100%;
	height: 45px;
	background-image:url(../images/loadding.gif);
	background-position: center;
	background-repeat:no-repeat;
}

